*
    font-family: 'Museo Sans', sans-serif

h1,h2,h3,h4,h5,h6
    margin: 0

@import 'base/variables'
@import 'base/mixins'

.container
    width: 940px
    margin: 0 auto

@import 'blocks/buttons'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/advantages'